@font-face {
    font-family: "norse";
    src: 
        url("fonts/Norse.woff2") format("woff2"),
        url("fonts/Norse.woff") format("woff");
        font-weight: 400;
}

@font-face {
    font-family: "norse";
    src:
        url("fonts/Norsebold.woff2") format("woff2"),
        url("fonts/Norsebold.woff") format("woff");
    font-weight: 700;
}

.container {
    display: flex;
    align-items: center;
}

.logo-div {
    background-image: url("background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    flex: 0 0 33%;
    min-width: 300px;
}

.form-wrapper {
    flex: 1;
    min-width: 0;
}

.form-entries {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    padding: 24px 120px 8px 120px;
    background-color: antiquewhite;
}

.form-entries > div {
    flex: 1 1 40%;
    position: relative;
}

div > label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 0.9em;
}