@font-face {
    font-family: "norse";
    src: 
        url("fonts/Norse.woff2") format("woff2"),
        url("fonts/Norse.woff") format("woff");
        font-weight: 400;
}

@font-face {
    font-family: "norse";
    src:
        url("fonts/Norsebold.woff2") format("woff2"),
        url("fonts/Norsebold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "copper-hewitt";
    src:
        url("fonts/cooper-hew/CooperHewitt-Semibold.woff2") format("woff2"),
        url("fonts/cooper-hew/CooperHewitt-Semibold.woff") format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "copper-hewitt";
    src:
        url("fonts/cooper-hew/CooperHewitt-Medium.woff2") format("woff2"),
            url("fonts/cooper-hew/CooperHewitt-Medium.woff") format("woff");
    font-weight: 100;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "copper-hewitt", Helvetica, Arial, sans-serif;
    color: rgb(0, 0, 0);
}

body {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

.container {
    display: flex;
    min-height: 100vh;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 46px;
}

.logo-div {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    flex: 0 0 33%;
    min-width: 300px;
}

.logo-icon {
    display: flex;
    padding: 20px;
    min-height: 200px;
    justify-content: center;
    margin-top: 30%;
}

.logo-div > div{
    background-color: rgba(0, 0, 0, 0.308);
    height: 100px;
}

.logo-div span {
    font-size: 10em;
    font-family: "norse";
    font-weight: 800;
    color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
    height: auto;
}

form,
.login-div,
h2 {
    padding-left: 72px;
}

form {
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
    -webkit-box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
}

form > h3 {
    padding: 10px 0px;
    font-size: 1.6em;
}

.form-wrapper > h2 {
    padding-right: 20%;
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 0;
}

.form-wrapper > button {
    margin-left: 72px;
    width: 240px;
    flex: 0 0 60px;
    height: 80px;
    border: none;
    color: whitesmoke;
    background-color: rgb(158, 93, 8);
    border-radius: 9px;
    font-size: 1.5em;
    font-weight: 700;
    -webkit-box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
}

.form-entries {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-top: 24px;
    padding-right: 20%;
}

.form-entries > div {
    flex: 1 1 40%;
    position: relative;
}

div > label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgb(63, 63, 63);
}

input,
textarea {
    font-size: 1.1em;
    line-height: 2;
    width: 350px;
    padding: 0 10px;
    border-radius: 5px; 
    border-width: 1px;
}

input:focus {
    outline: 2px solid rgb(190, 208, 255);
    -webkit-box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
}

input:invalid {
    border: 2px solid rgb(255, 101, 101);
}

.login-span:hover, button:hover {
    cursor: pointer;
}

button:hover {
    background-color: rgba(158, 93, 8, 0.836);
}

.login-div {
    font-size: 1.2em;
}

.login-span {
    color: rgb(158, 93, 8);
}

.login-span:hover {
    color: rgba(158, 93, 8, 0.836);
}