@font-face {
    font-family: "norse";
    src: 
        url("fonts/Norse.woff2") format("woff2"),
        url("fonts/Norse.woff") format("woff");
        font-weight: 400;
}

@font-face {
    font-family: "norse";
    src:
        url("fonts/Norsebold.woff2") format("woff2"),
        url("fonts/Norsebold.woff") format("woff");
    font-weight: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(59, 59, 59);
}

body {
    padding: 0;
    margin: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

.form-wrapper {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

form {
    background-color: antiquewhite;
    padding-left: 72px;
    padding-bottom: 50px;
    -webkit-box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
}

form > h3 {
    padding: 10px 0px;
    font-size: 1.5em;
}

.form-wrapper > h2 {
    padding-left: 72px;
    padding-right: 20%;
}

.form-wrapper > button {
    margin-top: 24px;
    margin-left: 72px;
    width: 120px;
}

.container {
    display: flex;
    align-items: center;
}

.logo-div {
    background-image: url("background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    flex: 0 0 33%;
    min-width: 300px;
}

.form-wrapper {
    flex: 1;
    min-width: 0;
}

.form-entries {
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    padding-top: 24px;
    padding-right: 20%;
}

.form-entries > div {
    flex: 1 1 40%;
    position: relative;
}

div > label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 1.5px;
    color: rgb(63, 63, 63);
}

input,
textarea {
    font-size: 1.1em;
    line-height: 2;
    width: 350px;
    padding: 0 10px;
    border-radius: 5px; 
    border-width: 1px;
}

input:focus {
    outline: 2px solid rgb(190, 208, 255);
    -webkit-box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 12px 15px 0px rgba(0, 0, 0, 0.08);
}

input:invalid {
    border: 2px solid rgb(255, 101, 101);
}
